.multicube-footer {
  background: #2e7583;
  position:absolute;
  margin-top:275px;
}
.multicube-footer .multicube-inner .multicube-box {
  float: left;
  min-width:20%;
  max-width:20%;
  font-family: 'Quicksand', sans-serif;
  color: #fff !important;
  font-size: 16px;
  padding-top:20px;
  padding-right:10px;
  padding-left:10px;
  padding-bottom:20px;
}

.multicube-footer .multicube-inner .multicube-box h2 {
  font-family: 'Quicksand', sans-serif;
  font-weight: bold;
  color: #fff !important;
  border-bottom: 2px solid rgba(255,255,255,0.2);
  padding-bottom: 8px;
}
.multicube-footer .multicube-inner .multicube-box .multicube-sitemap a:hover {
  text-decoration: underline;
}
.multicube-box a {
    color:#fff !important;
    text-decoration:none;
}
.multicube-inner {
    margin-left:16%;
}