.multicube-top {
    text-align: center;
}
.multicube-top img {
    width: 65%;
    margin: auto;
}
.multicube-player-count {
    color: #ffffff !important;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    font-size: 20pt;
    background-color: #131313;
    box-shadow: 5px 5px 5px #000000;
    width: 400px;
    height: 65px;
    line-height: 65px;
    margin: auto;
}