.news-title {
    width:80%;
    background-color:#131313;
    height:25px;
    font-size: 2.3em;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    padding: 25px 0px;
    color:#fff;
}
.news-module {
    margin:0 auto;
}
.news {
    background-color:#212121;
    width:26%;
    height:300px;
    margin-top:3px;
    float:left;
    margin:3px, 1px, 1px, 1px;
}
.news-img {
    width:100%;
}