.news-title {
    width:76%;
    background-color:#131313;
    height:60px;
    font-size: 2.3em;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    padding: 7px 0px;
    color:#fff;
    margin:0 auto;
}
.news-module {
    color:#fff;
}
.news-content {
    margin-top:5px;
    margin-left:12%;
    margin-bottom:100px;
}
#news, #news3 {
    background-color:#333333;
    width:28.45%;
    height:300px;
    float:left;
}
#news2 {
    background-color:#333333;
    width:28.45%;
    height:300px;
    float:left;
    margin-left:0.5%;
    margin-right:0.5%;
}
.news-img {
    width:100%;
}
.news-article {
    font-size:12px;
    padding:12px;
    font-family: 'Quicksand', sans-serif;
}
.rm {
    float:right;
    color:#337ab7;
    text-decoration:underline;
    cursor:pointer;
}
#hide, #hide2, #hide3 {
    display:none;
}
.newsdiv {
    margin-top:50px;
    margin-bottom:150px;
}