.dynmap {
    margin-left:7.8%;
    width:85%;
    height:1000px;
}
#flux-frame, #crundee-frame, #crundee2-frame, #infinity-frame, #creative-frame, #pixelmonhub-frame, #pixelmonsurvival-frame {
    display:none;
}
.dropdown-menu li {
    cursor:pointer;
}